/*gobal*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
img{
    max-width: 100%;
}
p{
    line-height: 2;
}
h2{
    text-align: center;
}
.section-heading h2{
    text-align: left; 
    color: black; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: 24px; 
    font-weight: bold;
}
.info-container {
    margin-bottom: 5px; 
}

.info-container h3 {
    margin-top: 20px; 
    margin-bottom: 10px;
    font-size: 20px; 
}
.label {
    font-weight:bold; 
}

.value {
    font-weight: normal;
}
a{
    text-decoration: none;
}
   /*utilities*/
   .btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 20px;
   }
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
   .site-header{
    background-image: url(img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
    }
    .menu a{
        color:white;
        margin-right: 20px;
    }
    .flex-container-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    .flex-main-container{
        display: flex;
    }
    .header-secondary{
        background-color: black;
        color: white;
    }
/* More Information link */
.btn.more-info {
    background-color:#b65902;
    color: white; 
    margin-top: 10px; 
    margin-bottom: 20px;
    display: inline-block; 
    padding: 20px;
}
/*footer*/
.site-footer{
    background-color: black;
    background-position: center center;
    background-size: cover;
    height: 100px;
    color: white;
    text-align: center;
    margin-top: 20px;
    }
    /*contact*/
    .form-container{
        display: flex;
        flex-direction: column;
    }
    .form{
        background-color: white;
        margin-top: -40px;
        padding: 30px;
    }
    .input-container{
margin-bottom: 10px;
padding: 10px;
    }
    .input-container label{
display: inline-block;
width: 80px;
text-align: left;
padding: 10px;
    }
    .input-container input,
    .input-container textarea{
width: 70%;
padding: 3px;
    }
    .footer-secondary{
        background-color: black;
        color: white;
    }